@import 'variables';

* :not(nav){
  font-family: Raleway, serif;
  color: var(--bodyText);
}

body {
  background-color: var(--bodyBackground);
  text-align: center;
}

a {
  transition: all .5s ease;
}

button, .button {
  background-color: var(--actionBackground);
  color: var(--actionText);
  border-radius: 4px;
  transition: all .5s ease;
  padding: 10px !important;

  &:hover {
    background-color: var(--bodyText);
    color: var(--bodyBackground);
  }
}

#navbar button {
  background-color: unset;
  color: unset;
  &:hover {
    background-color: unset;
    color: unset;
  }
}

h2 {
  text-transform: uppercase;
}

/* bootstrap toggle styling */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}