@import 'variables';

* {
  font-family: Raleway, serif;
  color: $bodyText;
}

body {
  background-color: $bodyBackground;
  text-align: center;
}

a {
  transition: all .5s ease;
  &:hover {
    color: $blue;
  }
}

button, .button {
  background-color: $actionBackground;
  color: $actionText;
  border-radius: 4px;
  transition: all .5s ease;
  padding: 10px;

  &:hover {
    background-color: white;
  }
}

h2 {
  text-transform: uppercase;
}