@import 'variables';

* :not(nav){
  font-family: Raleway, serif;
  color: var(--bodyText);
}

body {
  background-color: var(--bodyBackground);
  text-align: center;
}

a {
  transition: all .5s ease;
}

button, .button {
  background-color: var(--actionBackground);
  color: var(--actionText);
  border-radius: 4px;
  transition: all .5s ease;
  padding: 10px;

  &:hover {
    background-color: var(--bodyText);
  }
}

h2 {
  text-transform: uppercase;
}
