/* variables for default/light theme below */
:root {
  @media (prefers-color-scheme: light) {
    --navbarBackground: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
    --logoText: var(--actionBackground);
    --bodyBackground: rgb(250, 247, 247);
    --bodyText: #000000;

    --secondaryBackground: rgb(255, 255, 255);

    /* this changes the overall theme, buttons, header background, hover colour and many other */
    --actionBackground: var(--blue);
    /* above comment ends here */
    --actionText: white;

    --headerBackground: var(--actionBackground);
    --headerText: var(--actionText);


    /* other variables */
    --blue: slateblue; //rgb(90, 205, 105)
    --red: crimson;
    --green: rgb(90, 205, 105);

    #dark-logo {
      display: none;
    }

    .blue-text {
      color: var(--blue);
    }

    .red-text {
      color: var(--red);
    }

    .green-text {
      color: var(--green);
    }

    .blue-background {
      background-color: var(--blue);
    }
  }

  @media (prefers-color-scheme: dark) {
    --navbarBackground: linear-gradient(315deg, #28282b 0%, #212122 90%);
    --logoText: var(--actionBackground);

    --bodyBackground: rgb(27, 27, 30);
    --bodyText: white;

    --secondaryBackground: #212122;

    --actionBackground: #FCD34D;
    --actionText: black;

    --headerBackground: var(--actionBackground);
    --headerText: var(--actionText);

    /* other variables */
    --blue: slateblue;
    --red: crimson;
    --green: rgb(90, 205, 105);

    
    #light-logo {
        display: none;
    }

    .blue-text {
      color: var(--blue);
    }

    .red-text {
      color: var(--red);
    }

    .green-text {
      color: var(--green);
    }

    .blue-background {
      background-color: var(--blue);
    }
  }
}

