/* variables for default/light theme below */
:root {
  --bodyBackground: rgb(250, 247, 247);
  --bodyText: #000000;
  --actionBackground: slateblue;
  --actionText: white;

  --navbarBackground: linear-gradient(to bottom right, #2884B8 0%, #D1BAD2 100%);

  /* other variables */
  --blue: slateblue;

  .blue-text {
    color: var(--blue);
  }

  .blue-background {
    background-color: var(--blue);
  }
  /* variables for default/light theme code ends here */

  @media (prefers-color-scheme: light) {
    //[data-theme="light"] {
      --navbarBackground: linear-gradient(to bottom right, #2884B8 -20%, #D1BAD2 80%);
      --logoText: slateblue;

      --bodyBackground: rgb(250, 247, 247);
      --bodyText: #000000;

      --secondaryBackground: rgb(255, 255, 255);

      --actionBackground: slateblue;
      --actionText: white;

      --headerBackground: var(--actionBackground);
      --headerText: var(--actionText);

      

      /* other variables */
      --blue: slateblue;

      .blue-text {
        color: var(--blue);
      }

      .blue-background {
        background-color: var(--blue);
      }
    //}
  }

  @media (prefers-color-scheme: dark) {
    //[data-theme="dark"] {
      --navbarBackground: rgb(33, 33, 34);
      --logoText: #FCD34D;

      --bodyBackground: rgb(27, 27, 30);
      --bodyText: white;

      --secondaryBackground: var(--navbarBackground);

      --actionBackground: #FCD34D;
      --actionText: black;

      --headerBackground: var(--actionBackground);
      --headerText: var(--actionText);

      /* other variables */
      --blue: slateblue;

      .blue-text {
        color: var(--blue);
      }

      .blue-background {
        background-color: var(--blue);
      }
    //}
  }
}

